
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<h1>TEST</h1>

{% for repas in listeRepas %}
<p>{{ repas.date|date('d/m/Y') }} </p>
{% endfor %}

<p>Nbre d'utilisation : {{ nbrePlat }}</p>

</body>
</html>

